# dependencies
/node_modules

# production build
/dist

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
debug.log*

# editor / system files
.DS_Store
Thumbs.db

# IDE / project settings
.vscode/
.idea/
*.swp
package-lock.json